flask
gevent
gunicorn
boto3
numpy
brotlipy
certifi
cffi
charset-normalizer
cloudpickle
colorama
cryptography
cycler
cytoolz
dask
fonttools
fsspec
idna
imageio
kiwisolver
locket
matplotlib
mkl-fft
mkl-random
mkl-service
munkres
networkx
olefile
packaging
partd
Pillow
pip
pycparser
pyOpenSSL
pyparsing
PySocks
python-dateutil
PyWavelets
PyYAML
requests
scikit-image
scipy
setuptools
six
toolz
torch
torchvision
tqdm
typing-extensions
urllib3
wheel
sagemaker
black
pytest
flake8

